<p id="notice"><%= notice %></p>

<p>
  <b>Listtask:</b>
  <%= @task.listtask_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>State:</b>
  <%= @task.state %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>


<%= link_to 'Edit', edit_listtask_task_path(@list,@task) %> |
<%= link_to 'Back', listtask_path(@list) %>
