%h1 Sign up!
- if @user.errors.any?
  .alert-message.block-message.error
    %h2 Form is invalid
    %ul
      - for message in @user.errors.full_messages
        %li= message
= form_for User.new do |f|
  = f.email_field :email, :placeholder => 'email'
  = f.password_field :password, :placeholder => 'password'
  = f.password_field :password_confirmation, :placeholder => 'confirm'
  = f.submit
