%h1 Sign up!
= form_for User.new do |f|
  = f.email_field :email, :placeholder => 'email'
  = f.password_field :password, :placeholder => 'password'
  = f.password_field :password_confirmation, :placeholder => 'confirm'
  = f.submit
