%h1 Listing projects
= link_to 'New Project', new_project_path
%br

%table
  %tr
    %th Name
    %th Description
    %th Count Listtask in project
    %th User(s) in project
  - @projects.each do |project|
    %tr
      %td{:style =>"width: 25%"}
        = link_to project.name, project
        %br
        %span
          = link_to 'Edit', edit_project_path(project)
          |
          = link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete
      %td{:style =>"width: 40%"}
        = project.description
      %td{:style =>"width: 15%; text-align: center"}
        = count_listtask_in_project(project)
      %td{:style =>"width: 20%"}
        %p
          = project.owner.email
          - project.invited_user.each do |user|
            - if user.id != project.owner.id
              = user.email
              = link_to "(drop)", project_invite_path(project,user.id), confirm: 'Are you sure?', method: :delete
        = link_to "Invite user", new_project_invite_path(project)

