.info
  %span.label.success Project ->
  %big #{@project.name}
%br
%span.label.info
  = link_to 'Add listtask', new_project_listtask_path(@project)
%br
%br
%table
  %tr
    %th Name
    %th Description
    %th Count Task in listtask

  - @project.listtasks.each do |list|
    %tr
      %td{:style => "width: 25%"}
        = link_to list.name, project_listtask_path(@project,list)
        %br
        %span
          = link_to 'Edit', edit_project_listtask_path(@project,list)
          |
          = link_to 'Delete', project_listtask_path(@project,list), confirm: 'Are you sure?', method: :delete
      %td{:style =>"width: 60%"}= list.description
      %td{:style =>"width: 15%"}
        = count_task_in_listtask(list)
%br
= link_to 'Edit project', edit_project_path(@project)
|
= link_to 'Back to projects', projects_path

