!!!
%html
  %head
    %title
      ToDo-Proj
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      #main
        #header
          .inner
            .container
              %h1{:style => 'text-align: center'} Todoproj
              .pull-right
                - if current_user
                  = "Logged in as #{current_user.email}"
                  |
                  = link_to "Log out", sessions_url, confirm: 'Are you sure?', method: :delete
        .container
          .flash
            - if flash[:notice]
              .alert-message.info= flash[:notice]
            - if flash[:error]
              .alert-message.danger= flash[:error]
          =yield
    #footer
      .inner
        .container
          %h3{:style => 'text-align: center'} 2012
