= form_for([@project, @listtask]) do |f|
  - if @listtask.errors.any?
    #error_explanation
      %h2
        = pluralize(@listtask.errors.count, "error")
        prohibited this listtask from being saved:
      %ul
        - @listtask.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_area :description
  .actions
    = f.submit