<h1>Listing listtasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listtasks.each do |listtask| %>
  <tr>
    <td><%= listtask.name %></td>
    <td><%= listtask.description %></td>
    <td><%= link_to 'Show', listtask %></td>
    <td><%= link_to 'Edit', edit_listtask_path(listtask) %></td>
    <td><%= link_to 'Destroy', listtask, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listtask', new_listtask_path %>
