.info
  %span.label.success Project ->
  %big= link_to @listtask.project.name, project_path(@listtask.project)
  |
  %span.label.success Listtask ->
  %big #{@listtask.name}
%h2 Tasks:
%br
%span.label.info
  = link_to 'Add Task',new_project_listtask_task_path(@listtask.project_id, @listtask)
%br
%br
Show
= link_to 'All', project_listtask_path
|
= link_to 'New', project_listtask_path(:status => 'new')
|
= link_to 'In work', project_listtask_path(:status => 'in_work')
|
= link_to 'Completed', project_listtask_path(:status => 'completed')
%br
%br
%table
  %tr
    %th Name
    %th Description
    %th State
    %th Priority
    - @tasks.each do |task|
      %tr
        %td
          = link_to task.name, project_listtask_task_path(@listtask.project, @listtask, task)
          %br
          = link_to 'Edit', edit_project_listtask_task_path(@listtask.project, @listtask, task)
          |
          = link_to 'Destroy', project_listtask_task_path(@listtask.project, @listtask, task), confirm: 'Are you sure?', method: :delete
        %td= task.description
        %td= task.state
        %td= task.priority

%br
= link_to 'Edit', edit_project_listtask_path(@listtask.project,@listtask)
|
= link_to 'Delete', project_listtask_path(@listtask.project,@listtask), confirm: 'Are you sure?', method: :delete
|
= link_to 'Back', project_path(@listtask.project)