<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @listtask.name %>
</p>

<p>
  <b>Description:</b>
  <%= @listtask.description %>
</p>

<h2>Tasks:</h2>
<%= radio_button_tag :task, "state", "2" %> All <br />
<%= radio_button_tag :task, "state", "0" %> Incompleted <br />
<%= radio_button_tag :task, "state", "1" %> Complited <br />

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>State</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.state %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', listtask_task_path(@listtask,task) %></td>
        <td><%= link_to 'Edit', edit_listtask_task_path(@listtask, task) %></td>
        <td><%= link_to 'Destroy', listtask_task_path(@listtask,task), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
</table>

<br />
<%= link_to 'Edit', edit_listtask_path(@listtask) %> |
<%= link_to 'Back', listtasks_path %>
<br />
<%= link_to 'Add Task',new_listtask_task_path(@listtask) %>
<br />
